$bkpt-XS: 480px;

.guest-order-container{
    color:  #754b23;
    .blue{
        color:#06b4af
    }
    .yellow{
        color: #f6b53e
    }
    .orange{
        color: #e86b35
    }
    .bold{
        font-weight: 600;
    }
    .top-half{
        position: relative;
        .overview{
            text-align: left;
            .cost{
                display: inline;
            }
        }
    }
    table>*{
        color: #754b23
    }
    .table-head{
        .qtyShrink{
            display: none;
        }
    }
    .grand-total {
        .cost{
            display: inline-block;
        } 
        .summary, .total-quantity, .cost{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    img{
        max-width: 20vw;
    }

}

@media (max-width: $bkpt-XS){
    .guest-order-container{
        .table-head{
            font-size: 1rem;
            font-weight: 600;
            .qtyShrink{
                display: inline-block;
            }
            .qtyFull{
                display: none;
            }
        }
        .grand-total { 
            .summary, .total-quantity, .cost{
                font-size: 1.1rem;
            }
        }
        
    
    }
}