.schedule-container{
    *{
        color: #754b23;
        border: none;
    }
    div{
        text-align: left;
        font-weight: 700;
    }
    tr{
        margin-left: 5px;
    }
    td{
        text-align: center;
        padding: 0;
        padding-top: 4px;
        margin: 3px;
        background-color:#f6ede6;
    }
    .day{
        height: 35px;
        width: 152px;
    }
    .time{
        height: 35px;
        width: 218px;
    }
}