$bkpt-L: 1200px;
$bkpt-M: 992px;
$bkpt-S: 768px;
$bkpt-extra: 570px;
$bkpt-XS: 485px;
$bkpt-XXS: 366px;

//default covers between S and M (768< XX < 992)
.footer-container{
    margin: 0 8%;
    height: 68px;
    background-color: #06b4af;
    color: ivory;
    .decDots-col{
        text-align: left;
    }
    .decDots{
        position: relative;
        margin-left: 16%;
        height: 85%;
        top: 30%    
    }
    .copyright-col{
        text-align: center;
    }
    .copyright{
        position: relative;
        font-size: .9rem;
        top: 55%
    }
    .phone-col{
        text-align: right;
    }
    .phone{
        position: relative;
        right: 17%;
        top: 55%;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width:$bkpt-M){
    .footer-container{
        height: 80px;
        .decdots{
            height: 100%;
            top: 40%
        }
    }    
}
@media (max-width: $bkpt-S){
    .footer-container{
        height: 59px;
        .decdots{
            height: 90%;
            top: 25%
        }
        .phone{
            font-size: 0.86rem
        }
    }    
}
@media (max-width: $bkpt-extra){
    .footer-container{
        height: 53px;
        .decDots{
            height: 55%;
            top: 35%
        }
        .copyright{
            font-size: 80%;
            top: 25%
        }
        .phone{
            font-size: 87%;
            top: 25%
        }
    }    
}
@media (max-width: $bkpt-XS){
    .footer-container{
        height: 45px;
        .decDots{
            top: 25%;
            height: 50%;
            left: 15%
        }
        .copyright{
            top: 30%;
            font-size: 75%
        }
        .phone{
            top: 30%;
            font-size: 80%;
        }
    }
}
