$bkpt-XS-extra: 580px;
$bkpt-XS: 480px;

.cart-container{
    margin-bottom: 50px;
    .table-head{
        color: #754b23;
        .qtyShrink{
            display: none;
        }
    }
    .table-body{
        color: #754b23;
        font-size: 1rem;
    }    
    .grand-total{
        right: 0; 
        font-size:1.2rem;
        font-weight: 600;
        .total-quantity, .total-cost, .title{
            display: inline-block;
            color: #754b23;
            margin: 10px 25px;
        }      
    }    
    .guest-checkout{
        background-color: #e86b35;
        font-weight: 600;
        color: white;
        font-size: 1.2rem;
        padding: 10px; 
        border-radius: 5px;   
    }
    .guest-checkout:hover, .guest-checkout:visited{
        text-decoration: none;
        color:white;
    }
    img{
        max-width: 20vw;
    }
}
// @media( max-width: $bkpt-XS-extra){
//     .cart-container{
//         .grand-total{
//             font-size: 1.7rem;
//         }
//     }
// }
@media(max-width: $bkpt-XS){
    .cart-container{
        .table-head{
            font-size: 1rem;
            font-weight: 600;
            .qtyShrink{
                display: inline-block;
            }
            .qtyFull{
                display: none;
            }
        }
        .table-body{
            font-size: 0.8rem;
        }    
        .grand-total{ 
            font-size: 1.1rem; 
            .total-quantity, .total-cost, .title{
                display: inline-block;
                color: #754b23;
                margin: 5px 10px;
            }    
        }    
        .guest-checkout{
            font-size: 1.1rem; 
            padding: 5px; 
            border-radius: px; 
        }
    }
}
