$bkpt-L: 1200px;
$bkpt-M: 992px;
$bkpt-S: 768px;
$bkpt-XS: 480px;
$bkpt-XXS: 366px;

@font-face{
    font-family: allura;
    src: url('../../assets/fonts/Allura-Regular.ttf');
}

///default set for 1200>screen>992px
html{
    font-size: 100%; 
}
.app{
    font-family: sans-serif;
    color: #754b23;
    position: relative;
    margin: 0 8%;
    font-size: 1em;
    .slogan, .tagline{
        font-family: allura;
        font-size: 1.68rem;
    }
    .text{
        margin: 1rem 0;
    }
    .center{
        text-align: center;
    }
}

@media only screen and (min-width : $bkpt-L){
    html{
        font-size: 1.08em,
    }
    .app{
        max-width: 1225px;
        margin: auto
    }
    .slogan, .tagline{
        font-family: allura;
        font-size: 2.08rem;
    }
    .text{
        margin: 1.08rem 0;
    }
}

@media(max-width: $bkpt-M){
    html{
        font-size: 80%,
    }
}

@media (max-width: $bkpt-S){
    html{
        font-size: 75%,
    }
    .app{
        margin: 0 6%;
    }
}

@media (max-width: $bkpt-XS){
    html{
        font-size: 65%,
    }
    .app{
        margin: 0 4%;
    }
}
@media (max-width: $bkpt-XXS){
    html{
        font-size: 63%,
    }
    .app{
        .tagline{
            font-size: 1.76rem;
        }
    }    
}