$bkpt-L: 1200px;
$bkpt-M: 992px;
$bkpt-extra: 850px;
$bkpt-S: 767px;
$bkpt-S-extra: 670px;
$bkpt-XS: 480px;


///default set for 1200>screen>992px
.header-container{
    border-bottom: 15px solid #754b23;
    text-align: center;
}
.top-image-Xlrg{
    display: block;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    margin: 0 auto;
}
.top-image-lrg{
    display: none;
}
.top-image{
    display: none;
}
.center-logo{
    margin-top: 4%;
    height: 8rem;
}
.slogan{
    // line-height: 3rem;
    font-weight: 500;
    text-align: center;
}    

@media only screen and (min-width: $bkpt-L){
    .top-image-Xlrg{
        display: block;
        height: 70px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        margin: 0 auto;
    }
}
@media (max-width: $bkpt-M){
    .header-container{
        border-bottom: 12px solid #754b23;
    }
    .top-image-Xlrg{
        display: block;
        height: 55px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        margin: 0 auto;
    }
}
@media (max-width: $bkpt-extra){
    .top-image-Xlrg{
        display: none;
    }
    .top-image-lrg{
        display: block;
        height: 55px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        margin: 0 auto;
    }
}

@media (max-width: $bkpt-S){
    .header-container{
        border-bottom: 10px solid #754b23;
    }
    .top-image-lrg{
        display: block;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        margin: 0 auto;
    }
    .center-logo{
        margin-top: 1.8%;
    }
}
@media (max-width: $bkpt-S-extra){
    .header-container{
        border-bottom: 10px solid #754b23;
    }
    .top-image-lrg{
        display: none;
    }
    .top-image{
        display: block;
        height: 48px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        margin: 0 auto;
    }
    .center-logo{
        margin-top: 1.8%;
    }
}
@media (max-width: $bkpt-XS){
    .header-container{
        border-bottom: 7px solid #754b23;
    }
    .top-image{
        height: 32px;
    }
    .center-logo{
        margin-top: 1.8%;
        height: 7rem;
    }
}