$bkpt-M: 992px;
$bkpt-extra: 800px;
$bkpt-XS: 480px;

.contact-container{
    .container-fluid{
        padding-right: 0;
        margin: 0;
    }
    .text{
        font-size: 0.95rem;
        text-align: justify
    }
    .h4{
        margin-top:1rem;
    }
    a, a:visited{
        text-decoration: none;
        color: #754b23
    }
    h4{
        margin-top:1rem;
    }
    .schedule-col{
        padding: 0px;
    }
    .upDots{
        position: absolute;
        left: 63%;
        bottom: 5%
    }
    .downDots{
        position: absolute;
        top: 20%;
        left: 20%
    }
}
@media (max-width: $bkpt-M){
    .contact-container{
        .upDots{
            display: none;
        }
        .downDots{
            height: 40%;
        }
    }
}
@media (max-width: $bkpt-XS){
    .contact-container{
        .downDots{
            display: none;
        }
    }
}