.about-container{
    div{
        font-size: 0.95rem;
        text-align: justify;
    }
    .text{
        padding-left: 22px;
    }
    h4{
        margin-top:1rem;
    }
    .strips{
        height:100%;
        background-size:contain;
    }
    .dots{
        position: absolute;
        top: 20%;
        left: 30%;
    }
    .frosting{
        margin: auto;
    }
}