$bkpt-L: 1200px;
$bkpt-M: 992px;
$bkpt-S: 768px;
$bkpt-extra: 650px;
$bkpt-XS-extra: 580px;
$bkpt-XS: 480px;
$bkpt-XXS: 366px;

.products-container{
    .border{
        border-radius: 25px;
        padding: 10px;
    }
    .border:hover{
        cursor: pointer;
        background-color:rgb(161, 231, 228);
        border-radius: 25px;
        color: white;
    }
    .name{
        font-weight: 600;
    }
    .title{
        margin: 24px;
        font-weight: 600;
    }
    .cost{
        font-size: 1.3rem;
        font-weight: 400;
    }
    .product-item{
        margin: 9px auto;
        text-align: center;
        .image{
            height: 140px;
            border-radius: 20px
        }
    }
}
.details-container{
    margin: 32px;
    text-align:left;
    vertical-align: center;  
    .product-title, h4{
        font-weight: 600;
    }
    .image{
        width: 100%;
        border-radius: 25px
    }
    .tagline{
        font-family: allura;
        font-size: 1.5rem;
    }
    .cost{
        font-size: 1.3rem;
        font-weight: 600;
        text-align: right;
    }
    .cart-content{
        font-weight: 600;
        font-size: 1.3rem;
        .cart-title{
            font-size: default;
        }
        .cart-functions{
            position: absolute;
            right: 0px;
        }
        .cart-functions>*{
            display: inline-block;
            margin: 5px;
            text-align: center;
        }
        .button {
            background-color: #06b4af;
            border: none;
            color: white;
            text-decoration: none;
            border-radius: 5px;           
          }
          .increase, .decrease {
              width: 50px;
          }
          .quantity{
            background-color: lightgray;
            width: 50px;
          }
          .add{
              padding: 7px 5px;
              margin: 0 20px;
        }
    }
    
}

@media (max-width: $bkpt-S){
    .products-container{
        .product-item{
            max-width: 200px;
        }
    } 
}

@media (max-width: $bkpt-extra){
    .details-container{
        .image{
            max-width: 200px;
            border-radius: 25px
        }
        .cart-content{
            font-size: 1rem;
            .cart-functions>*{
                margin: 3px;
            }
            .button {
                border-radius: 5px;           
              }
              .increase, .decrease {
                  width: 35px;
              }
              .quantity{
                width: 35px;
              }
              .add{
                  padding: 5px 3px;
                  margin: 0 15px;
            }
        }
    }
}

@media( max-width: $bkpt-XS-extra){
    .details-container{
        .image-col{
            margin-bottom: 10px;
            text-align: center;
        }
        .image{
            border-radius: 15px;
        }
    }
}

@media (max-width: $bkpt-XS){
    .products-container{
        .product-item{
            max-width: 200px;
            .image{
                height: 100px;
                border-radius: 20px
            }
        }
    } 
    .details-container{
        .cart-content{
            font-size: 1rem;
            .cart-functions>*{
                margin: 2px;
            }
            .button {
                border-radius: 3px;           
              }
              .increase, .decrease {
                  width: 25px;
              }
              .quantity{
                width: 25px;
              }
              .add{
                  padding: 4px 2px;
                  margin: 0 10px;
            }
        }
    }   
}
